
#bigcontainer {
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 5%;

}
.jumbotron {
    background-color: #007bff;
    color: white;
    text-align:center;
    font-size: 90px;
}
.display-4 {
    font-size: 100px;

}

.projects {
    color: #007bff;
    font-size: 80px;
    margin-left: 6%;
    margin-top: 4.5%;
}

#resume {
    color: #007bff;
    font-size: 50px;
    margin-left: 8%;
    margin-top: 3%;
}

#github {
    color: #007bff;
    font-size: 50px;
    margin-left: 8%;
    margin-top: 3%;
}

#linkedin {
    color: #007bff;
    font-size: 50px;
    margin-left: 8%;
    margin-top: 3%;
}

#githubtext {
    color: #007bff;
    font-size: 35px;
    text-align:center;
    margin-top: 3%;
}

#linkedintext {
    color: #007bff;
    font-size: 35px;
    text-align:center;
    margin-top: 3%;
}

#resumetext {
    color: #007bff;
    font-size: 35px;
    text-align:center;
    margin-top: 3%;
}

#projecttext {
    color: #007bff;
    font-size: 35px;
    text-align:center;
    margin-top: 0%;
}

#resumepic {
    height: 50%;
    width: 50%;
    border: 1px solid black;

}

#project1 {
    display:block;
    margin-bottom: 3%;
    font-size: 60px;
}



.projectpics {
    height: 60%;
    width: 60%;
    margin: 3%;
}

#githubpic {
    height: 20%;
    width: 20%;

}

#linkedinpic {
    height: 20%;
    width: 20%;

}
